.vscode

*.png
*.jpg
*.jpeg
*.pdf
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.so
nrf52840/~nrfmicro.kicad_sch.lck
nrf52840/fp-info-cache
nrf52840/nrfmicro.kicad_pcb
nrf52840/nrfmicro.kicad_prl
nrf52840/nrfmicro.kicad_pro
nrf52840/nrfmicro.kicad_sch
